.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem;
}

.cardItem {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

.cardImage {
  border-radius: 5px;
  height: 160px;
  object-fit: cover;
  width: 160px;
}