.header {
  align-items: center;
  background-color: rgb(255 241 89);
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  padding: 1rem;
}

.title {
  font-size: 1.5rem;
  white-space: nowrap;
}

.searchForm {
  align-items: center;
  display: flex;
  height: 2.5rem;
  max-width: 600px;
  width: 100%;
}

.searchBar {
  align-items: center;
  border: none;
  display: flex;
  font-size: 16px;
  height: 100%;
  outline: none;
  padding-left: 1rem;
  width: 100%;
}

.searchButton {
  aspect-ratio: 1;
  background-color: white;
  border: none;
  color: rgba(0 0 0 / 70%);
  cursor: pointer;
  font-size: 18px;
  height: 100%;
  right: 0.5rem;
}

.rightContainer {
  display: flex;
  gap: 2rem;
}

.userProfile {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
}

.userName {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.userImg {
  border-radius: 50%;
  height: 2rem;
  object-fit: cover;
  width: 2rem;
}

.routes {
  display: flex;
  gap: 1rem;
}

.link {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.linkName {
  display: none;
}

.icons {
  height: auto;
  width: 1.2rem;
}

.link:nth-child(1) .icons {
  color: #007bff;
}

.link:nth-child(2) .icons {
  color: red;
}

.link:nth-child(3) .icons {
  color: rgb(141 136 128);
}

.cartContainer {
  display: flex;
  position: relative;
}

.cartCount {
  background-color: red;
  border-radius: 50%;
  color: #fff;
  font-size: 10px;
  padding: 2px 6px;
  position: absolute;
  right: -3px;
  top: -17px;
}


@media (width <= 768px) {
  .header {
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: space-between;
    padding: 0.8rem;
  }

  .title {
    font-size: 1rem;
  }

  .searchForm {
    height: 2rem;
    max-width: none;
    order: 1;
  }

  .icons {
    width: 1rem;
  }

  .cartCount {
    font-size: 8px;
    padding: 2px 4px;
    top: -13px;
  }

  .rightContainer {
    gap: 1rem;
  }
}

@media (width <= 425px) {
  .userImg {
    height: 1.5rem;
    width: 1.5rem;
  }

  .userName {
    display: none;
  }

}
