.header {
  align-items: center;
  background-color: rgb(255 241 89);
  box-shadow: 0 0 5px rgba(0 0 0 / 10%);
  display: flex;
  gap: 2rem;
  height: 4rem;
  padding-inline: 2rem;
}

.title {
  cursor: pointer;
  flex: 1;
  font-size: 1.5rem;
  font-weight: bold;
  min-width: 160px;
}

.searchWrapper {
  align-items: center;
  display: flex;
  flex: 2;
  height: 2.5rem;
  max-width: 600px;
  width: 100%;
}

.searchBar {
  align-items: center;
  border: none;
  display: flex;
  font-size: 16px;
  height: 100%;
  outline: none;
  padding-inline: 1rem;
  width: 100%;
}

.searchButton {
  aspect-ratio: 1;
  background-color: white;
  border: none;
  color: rgba(0 0 0 / 70%);
  cursor: pointer;
  font-size: 18px;
  height: 100%;
  right: 0.5rem;
}

.sectionWrapper {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 1rem;
  justify-content: flex-end;
}

.userContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.userPhoto {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}

.user {
  font-size: 13px;
}

.cart {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.cartAmount {
  background-color: red;
  border-radius: 50px;
  color: white;
  font-size: 0.8rem;
  height: 1.5rem;
  line-height: 1.5rem;
  min-width: 1.5rem;
  padding-inline: 0.5rem;
  text-align: center;
}

.cartIcon {
  color: black;
  font-size: 1.5rem;
}

@media (width < 768px) {
  .title, .userContainer {
    display: none;
  }

  .sectionWrapper {
    flex: 0
  }

  .header {
    justify-content: center;
  }
}