.spinnerWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  gap: 1rem;
  justify-content: center;
  min-height: calc(100vh - 6rem);
}

.message {
  align-items: center;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  min-height: calc(100vh - 5rem);
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 3rem;
}

.containerWrapper {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  padding: 2rem 0.5rem;
}

.productContainer {
  display: flex;
  gap: 1rem;
  height: 100%;
  max-height: 500px;
}

.thumbnails {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden auto;
  padding-inline: 0.5rem;
  padding-right: 1rem;
}

.thumbnails::-webkit-scrollbar {
  background-color: rgb(215 215 215);
  height: 0.3rem;
  width: 0.3rem;
}

.thumbnails::-webkit-scrollbar-thumb {
  background-color: grey;
}


.altImages {
  aspect-ratio: 1/1;
  background-color: white;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  object-fit: contain;
  width: 60px;
}

.selectedImage {
  border: 2px solid rgb(50 0 255);
}

.imageContainer {
  align-items: center;
  border-radius: 5px;
  display: flex;
  object-fit: contain;
}

.mainImage {
  cursor: none;
  height: 500px;
  object-fit: contain;
  width: 500px;
}

.magnifier {
  border: 2px solid grey;
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

.productDetails {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 800px;
  padding: 1rem;
}

.cardTop {
  align-items: center;
  color: rgba(0 0 0 / 55%);
  display: flex;
  font-size: 0.8rem;
  gap: 1rem;
  justify-content: space-between;
}

.heart {
  color: blue;
  cursor: pointer;
  height: 20px;
  margin-right: 1.5rem;
  width: 20px;
}

.priceWrapper {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.ratingContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.star {
  color: gold;
  cursor: pointer;
  margin: 0.1rem;
}

.buttonsContainer {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.btn {
  align-items: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  justify-content: center;
  padding: 0.8rem;
  width: 100%;
}

.buyBtn {
  background-color: rgb(50 0 255);
  color: white;
}

.addCartBtn {
  background-color: rgba(65 137 230 / 15%);
  color: rgb(50 0 255);
}

@media (width <= 1150px) {
  .buttonsContainer {
    flex-direction: column;
  }
  
  .containerWrapper, .productContainer {
    gap: 2rem;
  }

  .mainImage {
    height: 300px;
    width: 300px;
  }
}

@media (width <= 768px) {
  .containerWrapper {
    flex-direction: column;
    position: relative;
  }

  .imageContainer {
    align-items: center;
    flex: 1;
    justify-content: center;
  }
  
  .mainImage {
    flex: 1;
  }

  .cardTop {
    left: 0;
    padding: 1rem;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .heart {
    margin: 0;
  }

  .productContainer {
    margin-top: 2rem;
  }

  .magnifier {
    display: none;
  }
}

@media (width <= 600px) {
  .main {
    padding: 2rem 1rem;
  }

  .productContainer {
    align-items: center;
    flex-direction: column-reverse;
  }

  .thumbnails {
    flex-direction: row;
    overflow: auto hidden;
    padding: 0.5rem 0;
    width: calc(100vw - 9rem);
  }
}

@media (width <= 425px) {
  .mainImage {
    width: 100%;
  }

  .thumbnails {
    flex-direction: row;
    overflow: auto hidden;
    width: calc(100vw - 5rem);
  }
}